{
  "pathAssets": "/Users/cnoss/git/lucascranach/image-tools",
  "cachePath": "/Users/cnoss/git/lucascranach/image-tools/cache",
  "magickCommand": "",
  "chown": "cnoss:www",
  "defaultPeriod": "-10000",
  "unconvertedImageParams": {
    "paintings": {
      "path": "/Volumes/Elements/cranach-data/IIPIMAGES"
    },
    "graphics": {
      "path": "/Volumes/Elements/cranach-data/graphiken"
    }
  },
  "preparedImageParams": {
    "paintings": {
      "path": "/Volumes/Elements/cranach-data/RAW_PAINTINGS",
      "pattern": ["*.png"]
    },
    "graphics": {
      "path": "/Volumes/Elements/cranach-data/RAW_GRAPHICS",
      "pattern": ["*.png"]
    }
  },
  "targetPath": "/Volumes/Elements/cranach-data/imageserver-data-hiRes"
}